#
# AWS Elastic Beanstalk Nginx/PHP-FPM Configuration
#
# @author    James Leckenby <me@jleck.co.uk>
# @link      http://jleck.co.uk
# @copyright 2013 James Leckenby
# @license   MIT License
# @version   1.0
#

# Example server created on deploy by Hostmanager
server {
    root /var/www/html; # Changed on deploy
    index index.php index.html;
    log_not_found off;
    access_log off;

    # Try file, folder and then root index
    location / {
        try_files $uri $uri/ /index.php;
    }

    # Proxy requests to Hostmanager server
    location /_hostmanager {
        proxy_pass http://127.0.0.1:8999/;
    }

    # Process PHP requests with PHP-FPM
    location ~* .php$ {
        try_files $uri $uri/ /index.php =404; # Exploit defence
        fastcgi_pass unix:/var/run/php-fpm/php-fpm.sock; # Using socket, faster

        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param SCRIPT_NAME     $fastcgi_script_name;
        fastcgi_index index.php;
        include fastcgi_params;
    }

    # Cache static files
    location ~* .(jpg|jpeg|gif|png|css|js|ico|xml)$ {
        expires 360d;
    }

    # Block access to protected extensions and hidden files
    location ~* .(log|md|sql|txt)$ { deny all; }
    location ~ /\.                 { deny all; }
}